@font-face {
  font-family: "D";
  src: url("/DancingScript-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.experience {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at center, #2d004d, #000);
  color: white;
  font-family: "D", cursive;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  padding: 2rem;
}
.intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ================= INTRO ================= */

.intro-line {
  font-size: 2.3rem;
}

/* ================= STORY ================= */

.story {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* TYPEWRITER TEXT CENTERED */
.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

/* ================= PHOTO + FINAL ================= */

.story_part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.photo {
  opacity: 0;
  width: 260px;
  border-radius: 8px;
  /* transform: scale(0.8); */
  transition: all 0.3s ease;
}

.final {
  opacity: 0;
  font-size: 2.8rem;
  text-shadow: 0 0 20px #ff69b4;
  line-height: 1.3;
}

.ballons {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ballon {
  position: absolute;
  width: 20px;
  top: -50px;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
  }
}

/* ================= RESPONSIVE ================= */

/* Tablets */
@media (max-width: 1024px) {
  .line {
    font-size: 2.5rem;
    /* top: 30%; */
  }

  .final {
    font-size: 2.2rem;
  }

  .photo {
    width: 220px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .line {
    font-size: 2rem;
  }

  .story_part {
    flex-direction: column;
    gap: 1.5rem;
    bottom: 8%;
  }

  .photo {
    width: 180px;
  }

  .final {
    font-size: 1.8rem;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .line {
    font-size: 1.6rem;
  }

  .final {
    font-size: 1.5rem;
  }

  .photo {
    width: 150px;
  }
}
